# Node modules
node_modules/

# Hide package.json
package.json

# Environment variables
.env

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Optional
npm-debug.log*
yarn-debug.log*
yarn-error.log*
